.carritoDesk {
  background: url("../../img/fondoAzul.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0 0;
}
.carritoContainer {
  display: flex;
  margin: 0 0;
}
.izquierdaC {
  margin-top: 8%;
}
.breadCrumb {
  display: flex;
  
  position: absolute;
  height: 1%;
  /* background-color: antiquewhite; */
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4.9%;
  color: white;
  align-content: center;
  
  align-items: center;
  font-family: var(--nerko);
 
 
}
.separadorBreadCrumb {
  margin: 0 6%;
  font-size: 0.9rem;
  font-family: var(--open);
}
.linkBreadcrumb {
  color: white;
  font-size: 1.5rem;
  font-family: var(--nerko);
  font-weight: 400;
  text-decoration: none;

}
.derechaC {
  margin-right: 0;
  margin-left: auto;
  width: 32%;
  height: 100%;
  
}
@media (max-width: 800px) { 
  .derechaC {
    width: 25%;
  }
}

.izquierdaC {
  margin-left: 4.5%;
  
}
.glassDerecha {
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  background: rgba(255, 255, 255, 0.1);

  
  /* border-radius: 20px; */
}
.opcionesEnvio {
  background: rgba(255, 255, 255, 0.1);
  
  border-radius: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5%;
  
}
.opcionesEntregaTitulo {
  color: white;
  font-family: var(--chango);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 6%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;

  font-style: normal;
}
.opcion {
  margin-bottom: 5%;
 
  padding: 2%;
  border-radius: 20px;
  transition: 0.2s;
  outline: 4px dashed transparent;
}
.opcion1 {
  
  margin-bottom: 5%;
  padding: 2%;
  border-radius: 20px;
  transition: 0.2s;
  outline: 4px dashed white;
}
.opcion:hover {
  outline: 4px dashed white;
  cursor: pointer;
}
.opcionElecta {
  outline: 4px dashed white;
}

.h5Opcion {
  color: white;
  font-size: 1.4rem;
  font-family: var(--nerko);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 400;

  font-style: normal;
}
.pOpcion {
  font-family: var(--nerko);
  color: white;
  font-size: 1rem;
  font-weight: 400;

  font-style: normal;
}
.glassDerecha2 {
  background: rgba(255, 255, 255, 0.2);
  
  margin-bottom: 0;
  margin-top: 5%;
  border-radius: 20px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px solid rgba(255, 255, 255, 0.5);
}
.sub {
  display: flex;
  color: white;
  font-family: var(--nerko);
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
}
.envioValor {
  display: flex;
  color: white;
  font-family: var(--nerko);
  margin-top: 1%;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 400;
}
.tot {
  display: flex;
  color: white;
  font-family: var(--nerko);
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 2%;
  font-weight: 400;
}
.finishPurchase {
  font-family: var(--nerko);
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  align-self: center;
  margin-top: 4%;
  font-weight: 400;
  text-decoration: none;
}
.finishPurchase2 {
  font-family: var(--nerko);
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  align-self: center;
  margin-top: 4%;
  font-weight: 400;
  opacity: 70%;
  text-align: center;
  text-decoration: none;
}
.finishPurchase2:hover {
  cursor: not-allowed;
}
.reciboH4 {
  font-weight: 400;
}
.h6Recibo {
  font-weight: 400;
}
.reciboH5 {
  font-weight: 400;
}
.carritoMobile {
  display: none;
}
.firstRowCondiciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.closeOpc {
  font-size: 1.8rem;
  margin-right: 2%;
  color: white;
  
}
.condicionesEnvio {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(3px);
    top: 2.5%;
    text-align: center;
    height: 95vh;
    width: 60vw;
    left: 22%;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.condicionesEnvioInmediato {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(3px);
  top: 20%;
  text-align: center;
  height: 51vh;
  width: 60vw;
  left: 22%;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.buttonCondiIg {
  background-image: url('../../img/instagramFondo.jpg');
  border: 0px;
background-position: center;
background-size: cover;
  padding: 1%;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-family: var(--nerko);
  font-size: 1.5rem;
margin-right: 2%;
  transition: 0.2s;
  margin-top: 4.5%;
}
.buttonCondiWp {
  background: #25d366;
  border: 0px;
  background-position: center;
  background-size: cover;
    padding: 1%;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: var(--nerko);
    font-size: 1.5rem;
  
    transition: 0.2s;
    margin-top: 4.5%;
}

.h3CondicionesEnvio {
  font-family: var(--nerko);
  color: white;
  margin-left: 2.5%;
  margin-top: 1%;
  font-weight: 400;
  font-size: 2rem;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

text-transform: uppercase;
}
.pCondicionesEnvio {
  font-family: var(--nerko);
  color: white;
  font-size: 1.4rem;
  text-align: left;
  width: 90%;
  margin-left: 2.5%;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.buttonCondi {
  border: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 0px solid rgba(255, 255, 255, 0.5);
  padding: 1%;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-family: var(--nerko);
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
  margin-top: 4.5%;
  
}
.buttonCondi:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}
.mapaRos {
  height: 60%;
  /* margin-bottom: 2%; */
}



.slide-in-fwd-top {
	-webkit-animation: slide-in-fwd-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
            transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-top {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
            transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


/* MOBILE CSS */
@media (max-width: 700px) {
  .carritoDesk {
    display: none;
  }
  .carritoMobile {
    display: block;
    background-image: url("../../img/fondoAzul.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 135);
    height: 100%;
  }
  .productosCarritoMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tipoenvioM {
    margin-top: 15%;
    color: white;
    font-family: var(--nerko);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  .dropCarritoM {
   
    margin-bottom: 10%;
    width: 90%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
  }

  .opcionesEntregaMobile {
    
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.3);
   
    border-radius: 20px;
    padding: 1.5% 15%;
    border: none;

    border-top: 1.5px solid rgba(255, 255, 255, 0.9);
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    border-right: 1.5px solid rgba(255, 255, 255, 0.5);
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    width: 90%;
    align-self: center;
    margin: 2%;
  }
  .itemCartM {
    width: 95%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.3);
   
   
    
   
   
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.5px solid rgba(255, 255, 255, 0.9);
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    border-right: 1.5px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 5%;
  }
  .imgItemCartM {
    width: 45%;
  }
  .titleItemCartM {
    font-family: var(--chango);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
  }
  .saborItemCart {
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 2%;
  }
  .precioItemCart {
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
  }
  .removeBtnMobileCart {
    font-family: var(--open);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    align-self: self-start;
    margin-right: 3%;
    margin-top: 2%;

    text-align: end;
    font-size: 1.3rem;
  }
  .checkoutCarritoMobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(255, 255, 255, 0.3);
      
      backdrop-filter: blur(2px);

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 1.5px solid rgba(255, 255, 255, 0.9);
    border-left: 1.5px solid rgba(255, 255, 255, 0.5);
    border-right: 1.5px solid rgba(255, 255, 255, 0.5);
  
  }

  .txt-recibo-mobile {
    padding: 4%;
  }

  .subCMobileCont {
    display: flex;
    justify-content: space-between;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .subCMobile {
    color: white;
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 1%;
  }
  .envioCMobileCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .envioCMobile {
    color: white;
    font-family: var(--nerko);
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .totalCMobileCont {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 2%; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .totalCMobile {
    color: white;
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7rem;
  }
  .terminarCompraMobileDiv {
   text-align: center;
   height: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
  }
  .terminarCompraMobile {
    color: white;
    font-family: var(--nerko);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
    
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .opcionM {
    margin: 2%;
  }
  .opcionMA {
    margin: 2%;
    outline: 2px dashed white;
    border-radius: 20px;
  }
 .h3OpcionM {
    color: white;
    font-size: 1.3rem;
    padding: 0 1%;
    font-family: var(--nerko);
    font-weight: 400;
    text-transform: uppercase;
 }
 .pOpcionM {
  color: white;
  font-size: 1rem;
  font-family: var(--nerko);
  font-weight: 400;
  padding: 0% 2%;
}

  .dropCarritoMA {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  
    margin-bottom: 10%;
    width: 90%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
  }
  
   
}

