.enviosMain {
  min-height: 100vh;
  background-image: url("../../img/fondoAzul.jpg");
  margin: 0 0;
  background-position: center;
  background-size: cover;
}
.enviosContM {
  display: none;
}
.comprarM {
  display: none;
}
.enviosCont {
  height: 100%;
  display: flex;
}

.izquierdaEnvios {
  width: 55%;
  padding-left: 5%;
  padding-top: 8%;
}

.formEnvios {
  width: 85%;
}

.labelEnvios {
  width: 100%;
}
.nombreEnvios {
  width: 100%;
}
.contenedorFormFirst {
  display: flex;
  margin-bottom: 2%;
}
.contenedorForm {
  width: 100%;
  margin-bottom: 2%;
}
.contenedorForm2 {
  width: 100%;
}
.nombreEnvios {
  width: 85%;
  font-family: var(--nerko);
  font-size: 1.2rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.15);
  padding: 3% 3%;

  color: white;
  border: 0px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
input:hover {
  outline: none;
  background: rgba(255, 255, 255, 0.45);
}
input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.45);
}
input:focus-within {
  outline: none;
}

.inputEnvios {
  width: 90%;
  font-family: var(--nerko);
  font-size: 1.2rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.15);
  padding: 2% 3%;

  color: white;
  border: 0px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.labelEnvios {
  font-family: var(--nerko);
  font-size: 1.4rem;
  font-weight: 400;

  color: white;
}

.titleEnvios {
  font-size: 2.5rem;
  color: white;
  font-family: var(--nerko);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2%;
}
.checkboxEnvios {
  margin-bottom: 5%;
  margin-top: 2%;
}

.botoneraEnvios {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin-top: 1.5%;
  margin-bottom: 5%;
  align-items: center;
}
.volverEnvios {
  color: white;
  font-family: var(--nerko);
  font-size: 1.6rem;
  text-decoration: none;
}
.chevronEnvios {
  font-size: 1rem;
}
.continuarEnvios {
  font-family: var(--nerko);
  font-size: 1.5rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.15);
  padding: 1% 10%;

  color: white;
  border: 0px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-decoration: none;
}
.productoEnvios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  height: 15vh;
  width: 35vw;
  margin-bottom: 2%;
  margin-top: 2%;

  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: 0px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.productoEnvios img {
  height: 100%;
}
.h3EnviosProducto {
  font-family: var(--nerko);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  width: 90%;
}
.h4EnviosProducto {
  font-family: var(--nerko);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}
.precioEnviosProducto {
  font-family: var(--nerko);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}
.derechaEnvios {
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  width: 40%;
  justify-content: center;
  align-content: center;
  padding: 2%;
  flex-direction: column;
}
.enviosBottom {
  margin-top: auto;
  /* margin-bottom: 5%; */
}
.subEnvios,
.envioH5 {
  display: flex;
  justify-content: space-between;
}
.subH5 {
  color: white;
  font-family: var(--nerko);
  font-weight: 400;
  font-size: 1.3rem;
}
.subH4 {
  color: white;
  font-family: var(--nerko);
  font-weight: 400;
  font-size: 1.7rem;
}
.hrEnvios {
  border: 1px solid white;
  margin-top: 3%;
  margin-bottom: 3%;
}
.envioInfoCont {
  width: 85%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2%;
  border-radius: 10px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.envioInfoCont2 {
  width: 40%;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2%;
  border-radius: 10px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.envioInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 1%;
}
.linkContactoEnvio {
  color: white;
  font-family: var(--nerko);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
}
.h3ContactoInfo {
  font-family: var(--nerko);
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
.hr {
  border: 1px solid white;
}

.opcionesDePago {
  width: 89%;
  background: rgba(255, 255, 255, 0.15);

  border-radius: 10px;
  border-top: 1.5px solid rgba(255, 255, 255, 0.9);
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 4%;
}
.opcionPago {
  display: flex;
  align-items: center;
}

.opcionPagoButtonActive {
  padding: 1%;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.15);
  border: 6px solid white;
}
.opcionPagoButton {
  padding: 1.7%;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  transition: 0.2s;
}
.opcionPagoButton:hover {
  cursor: pointer;
  padding: 1%;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.15);
  border: 6px solid white;
}
.opcionPagoButtonP {
  padding: 1.7%;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid white;
  transition: 0.2s;
}
.opcionPagoButtonP:hover {
 cursor: not-allowed;
}
.h3Pagos {
  padding: 1%;
  color: white;
  font-family: var(--nerko);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}
.pagoDesc {
  background: rgba(255, 255, 255, 0.15);
  width: 96%;

  padding: 2%;
}
.descPago {
  color: white;
  font-family: var(--nerko);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}
.hide {
  display: none;
}
.titleEnvios2 {
  font-size: 2.5rem;
  color: white;
  font-family: var(--nerko);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2%;
  margin-top: 4%;
}
.botoneraEnvios2 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 4.5%;
  margin-bottom: 5%;
  align-items: center;
}
.cartelContainer {
    display: flex;
    flex-direction: column;
    height: 84vh;
    
    justify-content: center;
    
}
.cartelOrden {
  width: 75%;
  
margin-bottom: 10%;
  border-radius: 20px;
  padding: 5% 5%;
  margin-left: 4%;
text-align: center;
background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px solid rgba(255, 255, 255, 0.5);
}
.linkBreadcrumb {
    transition: 0.2s;
    opacity: 85%;
}
.linkBreadcrumbActive {
    /* letter-spacing: -0.5px; */
    opacity: 100%;
    color: white;
    font-size: 1.5rem;
    font-family: var(--nerko);
    font-weight: 400;
    text-decoration: none;
}
.linkBreadcrumb:hover {
    letter-spacing: -0.5px;
    opacity: 100%;
}

.h2Orden {
    color: white;
    font-family: var(--nerko);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.6rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.pOrden {
    color: white;
    font-weight: 400;
    font-family: var(--nerko);
    font-size: 1.7rem;
}
.hrEnvios2 {
    border: 0.2px solid white;
    margin-top: 1%;
    margin-bottom: 3%;
}

.transferencia {
  background-image: url('../../img/fondoAzul.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
 
 
}
.transferenciaC {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h3Transfe {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: var(--nerko);
  font-weight: 400;
}
.h4Transf {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  font-family: var(--nerko);
  font-weight: 400;
  margin-top: 1.8%;
  width: 40%;
}
.btnTrans {
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 1.2%;
  margin-top: 1%;
  border-radius: 20px;
  font-family: var(--nerko);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
}
.btnTrans:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (min-width: 576px) {
  .headerM {
      display: none;
  }
}

@media (min-width: 200px) and (max-width: 576px) {
  .enviosContM {
    display: block;
  } 
  .cartelOrden {
    margin-left: 2%;
    margin-right: 2%;
    width: 85%;
  }
  .headerDiv {
    display: none;
  }
  .headerM {
    display:block;
  }
  .comprarM {
    display: block;
  }
  .enviosMain {
    height: 100%;
    display: flex;
    
  }
  .comprarM {
    min-height: 100vh;
flex-direction: column;
    display: grid;
justify-content: center;
   align-items: center;
    flex-wrap: wrap;
  }
  .comprarForm2 {
   
    
    width: 80%;
    margin: 0 auto;
    padding-top: 20%;
  }
    .enviosCont {
      display: none;
    }
    .breadCrumb {
      margin-top: 4.5%;
      align-self: flex-start;
  
    }
    .linkBreadcrumb {
      font-size: 1.2rem;

    }
.comprarForm {
  width: 80%;
  margin: 0 auto;
  padding-top: 14%;
}
.labelComprar {
  color: white;
  font-family: var(--nerko);
  font-size: 1.5rem;
}
.botoneraEnvios {
  width: 90%;
align-self: flex-end;
justify-self: center;
}
.volverEnvios {
  width: 100%;
}
.titleEnviosM {
  font-family: var(--nerko);
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
}
.opcionesDePago {
  width: 100%;
}
.envioInfoCont {
  width: 96%;
  margin-bottom: 2%;
}
.envioInfoCont2 {
  width: 96%;
  margin-bottom: 2%;
}
.h3ContactoInfo {
  margin-right: 1%;
}
.enviosContM {
  padding-top: 4%;
}
.cartelOrdenM {
  width: 80%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 4%;
  margin: 0 auto;
}
.h2Orden {
  font-size: 2.2rem;
}
.pOrden {
  font-size: 1.3rem;
}
.pOrden2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: var(--nerko);
  color: white;
}
.pOrden22 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--nerko);
  color: white;
}

.imgOrdenM {
  width: 35%;
}
.ordenM {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.comprarForm2 {
  /* display: grid; */
  margin-top: 20%;
    height: 100%;
}
.comprarForm3 {
  display: grid;
  width: 85%;
 margin: 0 auto;
 height: 95%;
}
.envioInfoCont {
  align-self: flex-start;
  margin-top: 10%;
}
.envioInfoCont2 {
  align-self: flex-start;
  margin-top: 20%;
}
.envioInfoCont2M {
  width: 85%;
  margin: 0 auto;
  margin-top: 20%;
}
.h4Transf {
  width: 90%;
  margin-top: 10%;
  margin-bottom: 2%;
}
.btnTrans {
  padding: 3%;
}
.transferencia {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.transferenciaC {
  padding: 0 0;
}
}